*, *::before, *::after {
    box-sizing: border-box;
}
body {
  transition: all 0.3s ease 0s !important;
}
.ht-n-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.ht-n-container::before {
    content: "";
    display: table;
    clear: both;
}
a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
button {
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
/* -----------------------------------
  02. Notification Section
--------------------------------------*/
.ht-notification-section {
    background-position: center center;
    background-repeat: no-repeat;
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100%;
    transition: all 0.5s ease 0s;
    z-index: 999999999999 !important;
    opacity: 1 !important;
    text-shadow: none;
}

.admin-bar .ht-n-top.ht-notification-section{
    z-index: 11111 !important;
}

.ht-notification-section:hover {
    opacity: 1;
}
.ht-notification-section::before {
    background-color: #2d3e50;
    content: "";
    height: 100%;
    left: 0;
    /*opacity: 0.7;*/
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

/*-- Notification Position --*/
.ht-notification-section.ht-n-top {
    left: 0;
    top: 0;
    width: 100%;
    bottom: auto;
}
.admin-bar .ht-notification-section.ht-n-top{
    top: 32px;
}
.ht-notification-section.ht-n-bottom {
    left: 0;
    bottom: 0;
    top: auto;
    width: 100%;
}
.ht-notification-section.ht-n-left {
    left: 0;
    right: auto;
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
}
.ht-notification-section.ht-n-right {
    right: 0;
    left: auto;
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
}
.ht-notification-section.ht-n-left.ht-n-close {
    left: -300px;
}
.ht-notification-section.ht-n-right.ht-n-close {
    right: -300px;
}

/*-- Notification Wrap --*/
.ht-notification-wrap {
    width: 100%;
    padding: 10px 0;
    position: relative;
    overflow: hidden;
}
.ht-n-left .ht-notification-wrap,
.ht-n-right .ht-notification-wrap {
    padding: 30px 0 10px;
}

.ht-n-top .ht-notification-wrap,
.ht-n-bottom .ht-notification-wrap {
    padding: 10px 30px 10px 10px;
}

.ht-n-top.ht-n-full-width .ht-notification-wrap,
.ht-n-bottom.ht-n-full-width .ht-notification-wrap {
    padding-left: 30px;
}

.ht-n-left .ht-notification-wrap .ht-n-container, .ht-n-right .ht-notification-wrap .ht-n-container, .ht-n-full-width.ht-n-left .ht-notification-wrap .ht-n-container, .ht-n-full-width.ht-n-right .ht-notification-wrap .ht-n-container {
    padding: 30px;
    position: static;
    padding-top: 18px;
    width: 100% !important;
}
.ht-n-full-width .ht-notification-wrap .ht-n-container, .ht-n-full-width .ht-notification-wrap .ht-n-container {
    max-width: 100%;
    padding: 0 45px;
}

/* Notification Text */
.ht-n-container .ht-notification-text {
    padding: 6px 0;
    float: none;
}
.ht-n-left .ht-notification-text, .ht-n-right .ht-notification-text {
    padding: 0;
}
.ht-notification-text p {
  color: #eceff1;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  padding-bottom: initial;
}

/* Top Banner Buttons */
.ht-notification-buttons {
    float: right;
}
.ht-n-left .ht-notification-buttons,
.ht-n-right .ht-notification-buttons {
    float: left;
    margin-top: 0px;
}
.ht-notification-buttons .ht-n-btn {
    border: 1px solid #8dc642;
    background-color: #8dc642;
    border-radius: 4px;
    color: #ffffff;
    float: left;
    display: inline-block!important;
    font-family: inherit;
    font-size: 12px!important;
    font-weight: 500;
    height: 40px!important;
    letter-spacing: 0.4px;
    line-height: 24px!important;
    margin: 0;
    padding: 8px 26px!important;
    text-transform: uppercase;
    vertical-align: top;
}
.ht-notification-buttons .ht-n-btn:hover {
    color: #ffffff;
    opacity: 0.9;
}

/* Top Banner Close Toggle */
.ht-n-close-toggle {
	background-color: transparent;
	border: medium none;
	color: #ffffff;
	display: block;
	height: 26px;
	margin: 7px 0 7px 25px;
	padding: 5px 0;
	text-align: center;
    float: left;
    border-radius: 0;
    font-weight: normal;
}
.ht-n-top .ht-notification-buttons,
.ht-n-bottom .ht-notification-buttons{
   position: absolute;
   right: 10px;
   width: 30px;
   text-align: center;
   z-index: 99999;
}
.ht-n-top .ht-n-close-toggle,
.ht-n-bottom .ht-n-close-toggle{
    position: inherit;
    margin: 0;
    z-index: 99999;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    right: 12px;
}
.ht-n-top .ht-n-close-toggle i,
.ht-n-bottom .ht-n-close-toggle i{
    float: none;
}

.ht-n-left .ht-n-close-toggle, .ht-n-right .ht-n-close-toggle {
  background-color: #ff5733;
  color: #fff;
  left: auto;
  margin: 0;
  padding: 6px 10px;
  position: absolute;
  top: 0;
}
.ht-n-left .ht-n-close-toggle::before, .ht-n-right .ht-n-close-toggle::before {
	content: attr(data-text);
    float: left;
    line-height: 15px;
    font-size: 12px;
    margin-right: 5px;
    text-transform: capitalize;
}
.ht-n-left .ht-n-close-toggle {
  left: auto;
  right: 0;
}
.ht-n-right .ht-n-close-toggle {
	left: 0px;
    right: auto;
}
.ht-n-close-toggle:hover {
    color: #f15b65;
    background: #fff;
}
.ht-n-close-toggle i {
    display: block;
    line-height: 16px;
    font-size: 16px;
    float: left;
    color: #fff;
}
.ht-n-left .ht-n-close-toggle i, .ht-n-right .ht-n-close-toggle i {
  color: #fff;
}
.ht-n-close-toggle:hover i{
    color: #fff;
}

.ht-n-left .ht-n-close-toggle:hover i,
.ht-n-right .ht-n-close-toggle:hover i{
    color: #f15b65;
}


.ht-n-top .ht-n-close-toggle:hover,
.ht-n-bottom .ht-n-close-toggle:hover{
    background: inherit;
}

/* Top Banner Open Toggle */
.ht-n-open-toggle {
    display: block;
    background-color: #ff5733;
    border: medium none;
    border-radius: 0 0 4px 4px;
    color: #fff;
    position: absolute;
    right: 20px;
    text-align: center;
    top: -30px;
    transition: all 0.3s ease 0s;
    padding: 0;
    z-index: 99999;
    cursor: pointer;
    min-width: 30px;
    min-height: 30px;
}
.ht-n-open-toggle i {
    display: block;
    font-size: 18px;
    line-height: 30px;

}
.ht-n-open-toggle span {
    display: block;
    line-height: 20px;
    text-transform: none;
    padding: 0 5px;
}
.ht-n-open .ht-n-open-toggle {
    opacity: 0;
    visibility: hidden;
}
.ht-n-close .ht-n-open-toggle {
    opacity: 1;
    visibility: visible;
}

/*-- Position --*/

/*Top*/
.ht-notification-section.ht-n-top .ht-n-open-toggle {
    border-radius: 0 0 4px 4px;
    top: -31px;
    bottom: auto;
}
.ht-notification-section.ht-n-top .ht-n-open-toggle.ht-n-active {
    top: 0;
}
/*Bottom*/
.ht-notification-section.ht-n-bottom .ht-n-open-toggle {
    border-radius: 4px 4px 0 0;
    bottom: -31px;
    top: auto;
}
.ht-notification-section.ht-n-bottom .ht-n-open-toggle.ht-n-active {
    bottom: 0;
}
/*Left*/
.ht-notification-section.ht-n-left .ht-n-open-toggle {
    border-radius: 0 4px 4px 0;
    left: 100%;
    right: auto;
    top: 30px;
    width: 0;
    opacity: 0;
}
.ht-notification-section.ht-n-left .ht-n-open-toggle.ht-n-active {
    opacity: 1;
}
/*Right*/
.ht-notification-section.ht-n-right .ht-n-open-toggle {
    border-radius: 4px 0 0 4px;
    right: 100%;
    left: auto;
    top: 30px;
    width: 0;
    opacity: 0;
}
.ht-notification-section.ht-n-right .ht-n-open-toggle.ht-n-active {
    width: 30px;
    opacity: 1;
}
.ht-notification-section .ht-n-open-toggle.has_text.ht-n-active{
  width: auto;
  padding: 5px;
  font-size: 13px;
  line-height: 125%;
  height: auto;
  min-width: 30px;
  min-height: 30px;
  white-space: nowrap;
}


/* desktop :992px. */
@media only screen and (min-width: 992px) and (max-width: 1169px) {

/* Notification Text */
.ht-notification-text {
    max-width: 730px;
}

}

/* Tablet :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
.ht-notification-section {
  -webkit-background-size: cover;
  background-size: cover;
}
.ht-notification-text {
  max-width: 500px;
  padding: 0;
}

}

/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
.ht-notification-section {
  -webkit-background-size: cover;
  background-size: cover;
}
.ht-notification-buttons {
  float: left;
}
.ht-notification-buttons .ht-n-btn {
  font-size: 10px !important;
  height: 32px !important;
  margin-right: 10px;
  padding: 4px 15px !important;
  width: auto;
}
.ht-n-close-toggle {
  margin: 3px 0 3px 25px;
}

}

/* small mobile :320px. */
@media only screen and (max-width: 479px) {

}


/*custom styes*/
.ht-notification-text .ht_btn.style_2 {
  background: #ff5733 none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
  padding: 5px 15px;
}
.ht-notification-text .ht_btn.style_2:hover{
    background:rgba(255,87,51,.8);
    color: #fff;
}



.ht-notification-section .ht_notification_newsletter > h2 {
  color: #fff;
  font-size: 22px;
  margin: 0;
  margin-bottom: 10px;
}
.ht-notification-section .ht_notification_newsletter > p {
  display: block!important;
  margin-bottom: 14px!important;
}
.ht-notification-section .ht_notification_newsletter input[type="email"] {
  background: #fff none repeat scroll 0 0;
  border: 0 none;
  border-radius: 3px;
  box-shadow: none;
  color: #000;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 10px;
  width: 100%;
}
.ht-notification-section .ht_notification_newsletter input[type="submit"] {
  background: #ff5733 none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  height: inherit;
  max-width: inherit;
  min-width: inherit;
  padding: 12px 25px;
  width: inherit;
  line-height: 1;
}
.ht-notification-section .ht_notification_newsletter input[type="submit"]:hover{background:rgba(255,87,51,.8) }
.ht-notification-section .ht_btn.style_1 {
  background: #fdd835;
  color: #000;
  padding: 4px 10px;
  border-radius: 3px;
  text-decoration: none;
}
.ht-notification-section .mc4wp-alert.mc4wp-success p {
    line-height: 150%;
}